*
!assets/*
!banners/michaeltd.txt
!lisp/.gitkeep
!site-lisp/.gitkeep
!themes/.gitkeep
!themes/gotham-theme.el
!themes/jazz-theme.el
!themes/ujelly-theme.el
!themes/xresources-theme.el
!.gitignore
!init.el
!readme.org
!license
